<?xml version='1.0' encoding='utf-8'?>
<plugin id="navtureapps-proximiio" version="0.6.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>proximiio</name>
      <asset src="www/proximiio.js" target="js/proximiio.js"/>

    <js-module name="proximiio" src="www/proximiio.js">
        <clobbers target="proximiio" />
    </js-module>

    <platform name="ios">
        <config-file parent="/widget" target="config.xml">
            <feature name="ProximiioCordova">
                <param name="ios-package" value="proximiio" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Configure this string in the plist!</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Configure this string in the plist!</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
                <key>UIBackgroundModes</key>
                    <array>
                    <string>location</string>
                </array>
        </config-file>         

        <source-file src="src/ios/proximiio.m" />
        
        <framework src="src/ios/Proximiio.framework" custom="true" embed="true"/>
        <hook type="after_platform_add" src="hooks/addEmbedded.js" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="libicucore.dylib" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
        <framework src="Proximiio" type="podspec" spec="~> 1.1.8" />
    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ProximiioCordova">
                <param name="android-package" value="com.navtureapps.cordovaplugin.ProximiioCordova"/>
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="ProximiioCordova" value="com.navtureapps.cordovaplugin.ProximiioCordova" />
        </config-file>

        <source-file src="src/android/ProximiioCordova.java" target-dir="src/com/navtureapps/cordovaplugin"/>
        <source-file src="src/android/ProximiioCordovaOutputReceiver.java" target-dir="src/com/navtureapps/cordovaplugin"/>

        <framework src="com.android.support:support-v4:25.3.1"/>
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.navtureapps.cordovaplugin.ProximiioCordovaOutputReceiver"  android:exported="false">
                <intent-filter>
                    <action android:name="io.proximi.proximiiolibrary.action.OUTPUT"/>
                </intent-filter>
            </receiver>
        </config-file>

        <resource-file src="www/res/drawable-hdpi/notification_icon.png" target="res/drawable-hdpi/notification_icon.png" />
        <resource-file src="www/res/drawable-mdpi/notification_icon.png" target="res/drawable-mdpi/notification_icon.png" />
        <resource-file src="www/res/drawable-xhdpi/notification_icon.png" target="res/drawable-xhdpi/notification_icon.png" />
        <resource-file src="www/res/drawable-xxhdpi/notification_icon.png" target="res/drawable-xxhdpi/notification_icon.png" />
        <resource-file src="www/res/drawable-xxxhdpi/notification_icon.png" target="res/drawable-xxxhdpi/notification_icon.png" />

    </platform>

</plugin>
